<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>TDB - {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock head %}
    </head>
<body>
    {% block nav %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TDB</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if session['auth'] %}
                <ul class="nav navbar-nav">
                    <li><a href="/jenkins">Jenkins</a></li>
                    <li><a href="/docker">Docker</a></li>
                    <li><a href="/gitlab">Gitlab</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/deslogar">Deslogar</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock nav %}
{% block content %}{% endblock content %}
</body>
</html>