{% extends "base.html" %}
{% block title %}Jenkins{% endblock title %}
{% block content %}
{% if session['auth'] %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title clearfix">Jenkins</h1>
        </div>
        <div class="panel-body">
            <h2>{{name}}</h2>
            <form action="/jenkins/update/{{name}}" method="POST">
                <textarea class="form-control" name="xml" rows="16">{{xml}}</textarea>
                <br>
                <button class="btn btn-primary pull-right">Atualizar</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}